// general
@white: #ffffff;
@light-smoke: #f9f9f9;
@smoke: #e9e9e9;
@silver: #c0c0c0;
@gray: #808080;
@magnet: #5f6368;
@black: #000000;

// material theme
@primary: #3f51b5;
@accent: #ff4081;
@warn: #f44336;