@default-font-family: Rubik, NotoSans, sans-serif;
@default-font-size: 14px;
@default-line-height: 20px;

.font-size(@font-size, @line-height, @font-weight: 400) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
}