<h2>Home page</h2>

<div class="library-table">
    <div class="library-table__toolbar">
        <h3 class="library-table__title">My bookshelves</h3>
        <div class="library-table__actions">
            <!-- TODO: manage actions -->
            [actions]
        </div>
    </div>
    <div class="library-table__list">
        <div class="library-table__list-row _header">
            <div class="_hint">
                <span>ISBN</span>
                <span class="material-symbols-outlined" title="International Standard Book Number">help</span>
            </div>
            <div>Author</div>
            <div>Title</div>
            <div>Type</div>
            <div>Publisher</div>
            <div>Edition</div>
        </div>
        <ng-container *ngFor="let item of _bookItems">
            <div class="library-table__list-row">
                <div>{{item.code}}</div>
                <div>{{item.author}}</div>
                <div>{{item.title}}</div>
                <div>{{item.type}}</div>
                <div>{{item.publisher}}</div>
                <div>{{item.edition}}</div>
            </div>
        </ng-container>
    </div>
</div>
