@import "./../../styles/colors";
@import "./../../styles/fonts";
@import "./../../styles/vars";

.library-table {
  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
  }

  &__actions {
    display: flex;
  }

  &__list {

    &-row {
      display: flex;

      &._header {
        background: @smoke;

        ._hint {
          display: flex;
          align-items: center;

          .material-symbols-outlined {
            cursor: default;
            font-size: @size-m;
            color: @warn;
          }
        }

        * + * {
          margin-left: @size-s;
        }
      }

      div {
        width: 20%;
        padding: 8px 12px;

        &:nth-child(3) {
          width: 35%;
        }

        &:nth-child(4) {
          width: 15%;
        }

        &:nth-child(6) {
          width: 10%;
        }
      }
    }
  }
}