@import "./styles/colors";
@import "./styles/fonts";
@import "./styles/vars";

body {
  margin: 0;
  font-family: @default-font-family;
  .font-size(@default-font-size, @default-line-height);
}

.app-layout {
  &__header {
    height: 52px;
    justify-content: space-between;
    padding: 0 @size-m;
    background: @primary;
    color: @white;

    h1 {
      margin: 0;
      .font-size(20px, 30px, 300);
    }
  }

  &__footer {
    justify-content: center;
    height: @size-xl;
    background: @smoke;
    color: @gray;
    .font-size(12px, 18px);
  }

  &__header,
  &__footer {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    height: calc(100vh - (52px + @size-xl));
  }

  &__sidebar {
    min-width: 300px;
    background: @light-smoke;
    border-right: 1px solid @smoke;
  }

  &__router-area {
    flex-grow: 1;
    padding: 0 @size-m;
    overflow-y: scroll;
  }

  &__sidebar,
  &__router-area {
    animation: fadeIn 1s;
  }

  &__loader {
    width: fit-content;
    margin: 0 auto;
    transform: translate(0, 45%);

    .material-symbols-outlined {
      animation: rotateAnimation 1s linear infinite;
      font-size: 64px;
      color: @primary;
    }
  }
}

@keyframes rotateAnimation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}