<div class="app-layout">
    <header class="app-layout__header">
        <h1>Demo Application</h1>
        <button mat-icon-button
                aria-label="Share"
                title="Get link to project repository"
                (click)="_copyGitLink()">
            <span class="material-symbols-outlined">share</span>
        </button>
    </header>
    <div class="app-layout__content">
        <ng-container *ngIf="!_loading; else loadTemplate">
            <div class="app-layout__sidebar">
                <navigation></navigation>
            </div>
            <div class="app-layout__router-area">
                <router-outlet></router-outlet>
            </div>
        </ng-container>
    </div>
    <footer class="app-layout__footer">
        <p>ekko2023 | Demo application: angular, webpack</p>
    </footer>
</div>

<ng-template #loadTemplate>
    <div class="app-layout__loader">
        <div class="material-symbols-outlined">progress_activity</div>
    </div>
</ng-template>
