@import "./../../styles/colors";
@import "./../../styles/fonts";
@import "./../../styles/vars";

.navigation {
    &__wrapper {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        position: relative;

        .material-symbols-outlined {
            position: absolute;
            top: 30%;
            left: @size-xl;
            font-size: 18px;
            color: @magnet;
        }

        &:hover .material-symbols-outlined {
            color: @accent;
        }

        a {
            display: block;
            padding: @size-s @size-l @size-s @size-xxl;
            text-decoration: none;
            color: @magnet;
            .font-size(@size-m, @size-xl);

            &:hover {
                background: @smoke;
                color: @black;
            }

            &._disabled {
                pointer-events: none;
                cursor: auto;
                color: @gray;
            }
        }

    }
}