<ul class="navigation__wrapper">
    <ng-container *ngFor="let item of _navItems">
        <li class="navigation__item">
            <span *ngIf="item?.icon" class="material-symbols-outlined">{{item?.icon}}</span>
            <a href="{{item.link}}" [class._disabled]="!item.active">
                {{item.title}}
            </a>
        </li>
    </ng-container>
</ul>